@import '_override';

html {

}
body {
  // font-family: 'Open Sans Condensed', sans-serif;
}
h1, h2, h3, h4, h5 {
  // font-family: 'Amatic SC', cursive;
}
.lead {
  // font-family: 'Amatic SC', cursive;
}

// =============================================================================[ CUSTOM CSS ]


//
.splash {
  article {
    padding: 50px 0;
  }
  .technology {
    & {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    img {
      width: 70%;
    }
    a {
      & {
        display: block;
      }
      &:hover {
        background: whitesmoke;
      }
    }
  }
}
